<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maps</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/custom.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="top">
            <i class="bi bi-list" id="btn"></i>
        </div>
        <div class="flexbox">
            <div class="form-floating">
                <input type="text" class="form-control rounded-3" id="origin" readonly>
                <label for="origin">Home</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control rounded-3" id="destination" readonly>
                <label for="destination">Destination</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control rounded-3" id="radius" min="0">
                <label for="radius">Radius</label>
            </div>
        </div>

        <div class="lists-container">


            <ul class="homeAndDestination">
                <li>
                    <a href="#">
                        <i class="bi bi-house-door"></i>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-pin-map"></i>
                    </a>
                    <span class="tooltip">Destination</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-record-circle"></i>
                    </a>
                    <span class="tooltip">Radius</span>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="#" id="entertainmentAndRecreation">
                        <i class="bi bi-music-note-beamed"></i>
                        <span class="nav-item">Entertainment</span>
                    </a>
                    <span class="tooltip">Entertainment</span>
                </li>
                <li>
                    <a href="#" id="foodAndDrink">
                        <i class="bi bi-cup-straw"></i>
                        <span class="nav-item">Eating</span>
                    </a>
                    <span class="tooltip">Eating</span>
                </li>
                <li>
                    <a href="#" id="culture">
                        <i class="bi bi-easel"></i>
                        <span class="nav-item">Culture</span>
                    </a>
                    <span class="tooltip">Culture</span>
                </li>
                <li>
                    <a href="#" id="sport">
                        <i class="bi bi-trophy"></i>
                        <span class="nav-item">Sport</span>
                    </a>
                    <span class="tooltip">Sport</span>
                </li>
                <li>
                    <a href="#" id="busStop">
                        <i class="bi bi-bus-front"></i>
                        <span class="nav-item">Bus stop</span>
                    </a>
                    <span class="tooltip">Bus Stop</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="row-2">
            <div class="form-overlay">
                <form th:action="@{/home}" th:object="${location}" method="post" autocomplete="off" class="form-inline">
                    <div class="input-group mb-3">
                        <input type="text" th:field="*{city}" class="form-control" placeholder="Find address" aria-label="Find address">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bi bi-search icon-background"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <button id="calculateRouteBtn" class="btn btn-md btn-primary btn-block">Oblicz trasę</button>
                <button id="origAndDestPoints" class="btn btn-md btn-primary btn-block">Zatwierdź punkt początkowy i końcowy</button>
            </div>

            <div id="map"></div>
        </div>
    </div>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const points = /*[[${points}]]*/ [];

    const coords = {
        lat: parseFloat([[${location.lat}]]),
        lng: parseFloat([[${location.lng}]])
    };
    let city = [[${location.city}]];

    // const place = {
    //     latitude: coords.lat,
    //     longitude: coords.lng,
    //     radius: 4000
    // }

    /*]]>*/
</script>
    <script th:inline="javascript" src="/script.js"></script>
    <script async defer th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' +
        @environment.getProperty('google.api.key') + '&callback=initMap&libraries=geometry,places,marker'}}">
    </script>

</body>
</html>
