<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="eng">-->
<!--<head>-->
<!--    <title>Simple map</title>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/style.css" />-->

<!--    <script th:inline="javascript" src="../static/script.js"></script>-->
<!--    <script async-->
<!--            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa2ZVd0g5zyaDgpe2DvrrsMx8StsvQGPk&callback=initMap">-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<h1>GOOGLE MAP</h1>-->
<!--<hr>-->
<!--<div id="map"></div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Simple map</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script th:inline="javascript" src="../static/script.js"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-pJBCdZkhUBw4ErUoXQMqEwB3Sajn9cg&callback=initMap">
    </script>
</head>
<body>
<h1>GOOGLE MAP</h1>
<hr>
<div id="map" style="height:500px;width:100%"></div>
</body>
</html>


